<template>
    <div style="display: flex; flex-direction: row; align-items: center;">
        <canvas id="canvas"
                style="border: 1px solid #000; width: 80vw; height: 95%; margin-top: 2.5%; margin-bottom: 2.5%; padding: 0px;"
                @mousedown="canvas_mousedown($event)"
                @mouseup="canvas_mouseup($event)"
                @mousemove="canvas_mousemove($event)"

        >
            your browser doesn't support canvas!
        </canvas>
        <div style="border: 1px dashed #000; height: 95%; width: 15vw; display: flex; flex-direction: column; justify-content: space-around; margin: 1%;">
            <div class="abs" style="top: 10px; left: 3vw; display: flex;flex-direction: column;">
                <b style="text-align: center;">Инструменты</b><br>
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; user-select: none;">
                    <div>
                        <img v-if="$store.state.tool == 0" class="tool-img-select"
                             src="frontend/assets/images/line_tool.png">
                        <img v-else class="tool-img" src="frontend/assets/images/line_tool.png" @click="pick_tool(0)">
                        <img v-if="$store.state.tool == 1" class="tool-img-select"
                             src="frontend/assets/images/circle_tool.png">
                        <img v-else class="tool-img" src="frontend/assets/images/circle_tool.png" @click="pick_tool(1)">
                    </div>
                    <div>
                        <img v-if="$store.state.tool == 2" class="tool-img-select"
                             src="frontend/assets/images/rect_tool.png">
                        <img v-else class="tool-img" src="frontend/assets/images/rect_tool.png" @click="pick_tool(2)">
                        <img v-if="$store.state.tool == 3" class="tool-img-select"
                             src="frontend/assets/images/erase_tool.png">
                        <img v-else class="tool-img" src="frontend/assets/images/erase_tool.png" @click="pick_tool(3)">
                    </div>


                </div>

            </div>
            <Layers></Layers>

        </div>

    </div>


</template>

<script>

    import Layers from "./Layers.vue";


    export default {
        components: {
            Layers
        },
        name: "App",
        data: function () {
            return {
                start: {
                    x: 0,
                    y: 0,
                },
                drawing: false,
                current: {
                    x: 0,
                    y: 0,
                }
            }
        },
        computed: {
            update_required() {
                console.log(this);
                return this.$store.state.update_required;
            },

        },
        watch: {
            update_required(newVal, oldVal) {

            }
        },
        mounted() {
            this.$store.commit('set_editor', this);
            this.canvas = document.getElementById("canvas");
            this.canvas.height = this.canvas.offsetHeight;
            this.canvas.width = this.canvas.offsetWidth;
            this.context = this.canvas.getContext('2d');
            const canvas = this.canvas;

            this.$store.commit('add_layer', "Layer 1");

            this.tmp_canvas = document.createElement('canvas');
            this.tmp_canvas.width = this.canvas.width;
            this.tmp_canvas.height = this.canvas.height;
            this.tmp_context = this.tmp_canvas.getContext('2d');

            // this.$store.commit('add_layer', {
            //     name: "Layer 3",
            //     canvas
            // });
            if (this.update_required)
                this.$forceUpdate();

        },

        updated() {
            this.tmp_context = this.tmp_canvas.getContext('2d');
            let layers = this.$store.state.layers;
            this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);

            this.tmp_context.clearRect(0, 0, this.canvas.width, this.canvas.height);

            for (let layer of layers) {
                if (layer.visible) {
                    this.context.drawImage(layer.canvas, 0, 0);

                }
            }
            if (this.$store.state.tool === 3) {
                let ctx = this.$store.state.layers[this.$store.state.selected].canvas.getContext('2d');
                this.render(ctx);

            } else {
                this.render(this.tmp_context);

            }
            if (this.drawing) {
                this.context.drawImage(this.tmp_canvas, 0, 0);
            }
            this.$store.commit('updated');
        },

        methods: {
            render(ctx) {
                if (this.$store.state.tool === 0) {

                    ctx.beginPath();
                    // this.context.fillRect(this.start.x, this.start.y, this.current.x - this.start.x, this.current.y - this.start.y);
                    ctx.moveTo(this.start.x, this.start.y);
                    ctx.lineTo(this.current.x, this.current.y);
                    ctx.stroke();
                    ctx.closePath();
                    console.log('HELLLOOO');

                }
                if (this.$store.state.tool === 1) {
                    let rx = Math.abs((this.current.x - this.start.x)) / 2.0;
                    let ry = Math.abs((this.current.y - this.start.y)) / 2.0;
                    ctx.beginPath();
                    ctx.ellipse(this.start.x + rx, this.start.y + ry, rx, ry, 0, 0, 2 * Math.PI);

                    ctx.stroke();

                    ctx.closePath();

                }
                if (this.$store.state.tool === 2) {

                    ctx.beginPath();
                    ctx.rect(this.start.x, this.start.y, this.current.x - this.start.x, this.current.y - this.start.y);

                    ctx.stroke();
                    ctx.closePath();

                }
                if (this.$store.state.tool === 3) {
                    ctx.fillStyle = '#ffffffff';
                    ctx.strokeStyle = '#ffffffff';
                    ctx.beginPath();
                    ctx.arc(this.current.x, this.current.y, 25, 0, Math.PI * 2);
                    ctx.fill();
                    ctx.stroke();
                    ctx.closePath();
                    ctx.fillStyle = '#000000ff';
                    ctx.strokeStyle = '#000000ff';

                }
            },

            pick_tool(id) {
                this.$store.commit('pick_tool', id);

            },
            canvas_mousedown(event) {
                if (this.$store.state.layers.length < 1) return;
                this.drawing = true;
                this.start.x = event.clientX - this.canvas.offsetLeft - 2;
                this.start.y = event.clientY - this.canvas.offsetTop - 2;
                this.current.x = this.start.x;
                this.current.y = this.start.y;

            },
            canvas_mousemove(event) {
                if (this.$store.state.layers.length < 1) return;
                if (this.drawing) {
                    // console.log(this.tmp_context);
                    // console.log(this);
                    this.current.x = event.clientX - this.canvas.offsetLeft - 2;
                    this.current.y = event.clientY - this.canvas.offsetTop - 2;
                    this.$forceUpdate();


                }
            },
            canvas_mouseup(event) {
                if (this.$store.state.layers.length < 1) return;
                this.drawing = false;
                //clear
                this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
                this.tmp_context.clearRect(0, 0, this.canvas.width, this.canvas.height);
                //render to selected layer
                let ctx = this.$store.state.layers[this.$store.state.selected].canvas.getContext('2d');
                this.render(ctx);
                this.$forceUpdate();

            }


        }
    }
</script>

<style scoped>
    #editor, #editor > div {
        height: 100%;
    }

    #editor {

    }

    #canvas {

    }

    #editor > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #editor > div > canvas, #editor > div > div {
        display: block;
        margin: 0px;
        padding: 0px;
    }

    .abs {
        width: 100%;


    }

    .tool-img {
        width: 64px;
        height: 64px;
        cursor: pointer;
        user-select: none;
    }

    .tool-img-select {
        width: 64px;
        height: 64px;
        cursor: pointer;
        box-shadow: green 0px 0px 5px;
        border-radius: 16px;
        user-select: none;
    }
</style>