<template>
    <div class="abs" style="top: 50px; left: 3vw; display: flex; flex-direction: column; height: 40%;">
        <b style="text-align: center;">Слои</b>
        <div style="width: 100%; height: 100%;">
            <div style="border: 1px solid #999; height: 100%; overflow-scrolling: auto; overflow: scroll; display: block; margin: 2%; user-select: none;">
                <div v-for="layer in layers">
                    <div class="layer" v-if="$store.state.selected === layers.indexOf(layer)"
                         style="background: lightcyan;"
                    >
                        <input type="checkbox" v-model="layer.visible"
                               @change="layer_visible_change(layers.indexOf(layer))">
                        <img src="frontend/assets/images/arrow-top.png" class="updw-img"
                             @click="layer_up(layers.indexOf(layer))">
                        <img src="frontend/assets/images/arrow-down.png" class="updw-img"
                             @click="layer_down(layers.indexOf(layer))">
                        <span v-if="layer.visible" @click="pick_layer(layers.indexOf(layer))">{{layer.name}}</span>
                        <span v-else style="color: #CCC;"
                              @click="pick_layer(layers.indexOf(layer))">{{layer.name}}</span>
                        <img src="frontend/assets/images/trash.png" class="updw-img"
                             @click="remove_layer(layers.indexOf(layer))">

                    </div>
                    <div v-else class="layer">
                        <input type="checkbox" v-model="layer.visible"
                               @change="layer_visible_change(layers.indexOf(layer))">
                        <img src="frontend/assets/images/arrow-top.png" class="updw-img"
                             @click="layer_up(layers.indexOf(layer))">
                        <img src="frontend/assets/images/arrow-down.png" class="updw-img"
                             @click="layer_down(layers.indexOf(layer))">
                        <span v-if="layer.visible" @click="pick_layer(layers.indexOf(layer))">{{layer.name}}</span>
                        <span v-else style="color: #CCC;"
                              @click="pick_layer(layers.indexOf(layer))">{{layer.name}}</span>
                        <img src="frontend/assets/images/trash.png" class="updw-img"
                             @click="remove_layer(layers.indexOf(layer))">
                    </div>


                </div>
                <img src="frontend/assets/images/add_layer.png" class="updw-img" @click="add_layer">

            </div>


        </div>

    </div>
</template>

<script>
    export default {
        name: "Layers",
        props: [],
        data: () => {
            return {
                //layers: []

            }
        },
        created() {
            //console.log('STORE: ', this.$store);
        },
        computed: {
            layers: function () {
                return this.$store.state.layers;
            }

        },
        methods: {
            layer_visible_change(id) {
                console.log(this.$store.state.layers[0].visible);
                console.log(this.layers[id].visible);
                this.$parent.$forceUpdate();

            },
            pick_layer(id) {
                this.$store.commit('pick_layer', id);
            },
            layer_up(id) {
                this.$store.commit('layer_up', id);
                this.$forceUpdate();

            },
            layer_down(id) {
                this.$store.commit('layer_down', id);
                this.$forceUpdate();

            },
            remove_layer(id) {
                this.$store.commit('remove_layer', id);
                this.$parent.$forceUpdate();
            },
            add_layer() {

                this.$store.commit('add_layer');
            }
        }

    }
</script>

<style scoped>
    .updw-img {
        width: 16px;
        height: 16px;
        cursor: pointer;
    }

    .layer {
        cursor: pointer;
    }


</style>