html, body{
    height: 100vh;
}
body{
    margin: 0px;
    padding: 0px;

    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(235,244,242,1) 41%, rgba(153,153,153,1) 100%);
}

label{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: #444;
}

.container {
    display: flex;
    width: 97%;
    margin: 0px;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.navbar{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 5vh;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 2px 2px rgb(230, 230, 230);
    /* border: 1px dashed #000; */

}

.logo img{
    height: 4vh;
    margin-top: 0.5vh;
    margin-bottom: auto;
    margin-left: 3vw;
}

.login-panel{
    
    position: absolute;
    border: 2px solid rgb(231, 222, 222);
    box-shadow: 0px 0px 3px rgb(179, 179, 179);
    width: 50vw;
    height: 25vh;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 30vh;
    margin-bottom: 40vh;
    border-radius: 5px;
    background-color:white;
    
    
}

.login-form{
    width: 100%;
    height: 100%;
    font-size: 20pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
}

.form-item{
    

    
}


.input-text{
    border: 0px;
    font-size: 20pt;
    
    border-bottom: 1px solid rgb(182, 178, 178);
    transition: border 0.2s ease 0s;
    border: 2px solid rgb(177, 170, 144);
    margin: 1px;

    
}

.input-text:hover{
    border: 2px solid rgb(255, 196, 0);
}
.input-text:focus{
    outline: none;
    border-bottom: 2px solid rgb(148, 192, 228);
}

.button-submit{
    

    margin-top: 15px;
    border: 1px solid rgb(177, 170, 144);
    font-size: 14pt;
    box-shadow: 0px 1px 1px #aaa;
    width: 35vw;
    font-family: sans-serif;
    background-color: rgb(247, 245, 245);
    cursor: pointer;
    border-radius: 5px;
}

.button-submit:hover{
    
    box-shadow: 0px 2px 2px #aaa;
}

.nav-item-list{
    display: flex;


}
.nav-item{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 12pt;
    font-family: sans-serif;
    color: #aaa;
    border-bottom: 2px solid rgb(193, 197, 255);
    vertical-align: middle;
    cursor: pointer;
}

.nav-item:hover{
    
    color: rgb(97, 96, 96);
    border-bottom: 4px solid rgb(23, 36, 221);
}

.nav-item-active{

    color: rgb(97, 96, 96);
    border-bottom: 4px solid rgb(94, 102, 216);
}


.alert-notify{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #444444dd;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}
.alert-notify div{
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24pt;



}