{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Вход</title>

</head>

<body>
<div class="navbar">
    <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="">
    </div>
    <div class="nav-item-list">
        <a class="nav-item nav-item-active" href="index.html">

            Чат

        </a>
        <a class="nav-item" href="sign_up.html">
            Профиль
        </a>
        <a class="nav-item" href="forgot.html">
            Настройки
        </a>
    </div>
</div>

{% block content %}{% endblock %}


</body>
<script src="{% static '/js/jquery.js' %}"></script>
<script src="{% static '/js/script.js' %}"></script>

</html>