{% extends 'base.html' %}
{% block content %}
<div class="login-panel">
    <div class="login-form" action="" method="post">
        <div class="form-item">
            <label for="email_id">Email</label>
            &ThinSpace; &ThinSpace; &ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;
            <input class="input-text" type="email" name="email" id="email_id" style="margin-left: 10px;"
                   onkeyup="check(['password_id', 'email_id']);">
        </div>
        <div class="form-item">
            <label for="password_id">Пароль
            </label>&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;
            <input class="input-text" type="password" name="password" id="password_id"
                   onkeyup="check(['password_id', 'email_id']);">
        </div>
        <button class="button-submit" id="login-submit" disabled onclick="check_password()">Войти</button>

        <div style="display: flex; width: 35vw; font-size: 14pt; justify-content: space-between;margin-top: 15px;">
            <a href="/sign_up">Регистрация</a>
            <a href="/forgot">Забыли пароль?</a>
        </div>
    </div>


</div>
<div id='alertn' class="alert-notify" onclick="alertn_close();">
    <div id="alertn-text">hello</div>
</div>
{% endblock %}