<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html{
            height: 99%;
        }
         body, body {
            height: 100%;
        }
    </style>
    <style>
        .nav-item{
            padding: 15px;
            background: #edf7f9;
            color: black;
            cursor: pointer;
        }
        .nav-item:hover{

            background: #f2ebf9;

        }
        .nav-item > a{
            text-decoration: none;
        }
    </style>
</head>
<body>
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <h3>Computer Graphics</h3>
    <a href="/ge" class="nav-item" style="margin-left: 100px;">Graphics Editor</a>
    <a href="/transform" class="nav-item">Transforms</a>
    <a href="/cvf" class="nav-item">Opencv filtering</a>



</div>
{% block content %} {% endblock %}

</body>
</html>