{% extends 'base.html' %}
{% block content %}


<div id="editor" style="height: 100%;">



</div>
<style>
    body > div:nth-child(2){
        height: 90%;
    }
</style>
<script src="/static/js/bundle.js"></script>
{% endblock %}