{% extends 'base.html' %}
{% block content %}
<form method="post" action="/cvf/proc" enctype="multipart/form-data">
    <input name="myFile" type="file" accept=".jpg, .jpeg, .png">
    <h3>Denoising</h3>
        <label for="h">H</label>
        <input id="h" name="h" value="10" placeholder="h">

        <label for="hcolor">HColor</label>
        <input id="hcolor" name="hcolor" value="10" placeholder="hcolor">

        <label for="tws">Template Window Size</label>
        <input id="tws" name="tws" value="7" placeholder="Template Window Size">

        <label for="sws">Search Window Size</label>
        <input id="sws" name="sws" value="21" placeholder="Search Window Size">


    <h3>Canny Edge Detection</h3>
    <label for="threshold1">threshold1</label>
    <input id="threshold1" name="threshold1" value="100" placeholder="threshold1">
    <label for="threshold2">threshold2</label>
    <input id="threshold2" name="threshold2" value="200" placeholder="threshold2">
    <br>
    <button type="submit">Обработать</button>
</form>

{% endblock %}