{% extends 'base.html' %}
{% block content %}
<input type="file" onchange="previewFile()"><br>
<img src="" alt="Image preview...">
<br>
<canvas id="canvas">


</canvas>
<br>
<script src="/static/js/t.js"></script>

{% endblock %}