{% extends 'base.html' %}
{% block content %}
<h1>Исходный файл</h1>
<img height="auto" src="{{default}}">
<h1>Denoising</h1>
<img height="auto" src="{{denoise}}">
<h1>Edge detection</h1>
<img height="auto" src="{{edges}}">


{% endblock %}