{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    {% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    {% endblock %}
    <title>Главная</title>

</head>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="bird.jpg" alt="logo" style="width:40px;">
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
</nav>

{% block content %}{% endblock %}


</body>
<script src="{% static '/js/jquery.js' %}"></script>

{% block extra_js %}
<script src="{% static '/js/bootstrap.js' %}"></script>
{% endblock %}

</html>