{% extends 'base1.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">


    <ul class="list-group w-100 mt-2">
        {% for chat in chats %}
        <a href="#" class="list-group-item list-group-item-action">{{ chat.user1.email  }} - {{ chat.user2.email  }}</a>

        {% endfor %}

    </ul>
</div>
{% endif %}
{% endblock %}