{% extends 'base.html' %}
{% block extra_css %} {% endblock %}
{% block content %}

<div class="login-panel">
    <form class="login-form" action="" method="post">
        <div class="form-item">
            <label for="email_id">Email</label>
            &ThinSpace; &ThinSpace; &ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;
            <input class="input-text" type="email" name="email" id="email_id" onkeypress="check(['email_id']);">

        </div>
        <button id="login-submit" class="button-submit" type="submit" disabled>Восстановить пароль</button>
        <div style="display: flex; width: 35vw; font-size: 14pt; justify-content: space-between;margin-top: 15px;">
            <a href="/sign_up">Регистрация</a>
            <a href="/sign_in">Вход</a>
        </div>

    </form>

</div>

{% endblock %}