{% extends 'base.html' %}
{% block extra_css %} {% endblock %}
{% block content %}
<div class="login-panel">
    <div class="login-form">
        <div class="form-item">
            <label for="email_id">Email</label>

            <input class="input-text" type="email" name="email" id="email_id" style="margin-left: 198px;"
                   onchange="check(['password_id','password_id1', 'email_id']);">
        </div>
        <div class="form-item">
            <label for="password_id">Пароль </label>
            <input class="input-text" type="password" name="password" id="password_id" style="margin-left: 171px;"
                   onchange="check(['password_id','password_id1', 'email_id']);">
        </div>
        <div class="form-item">
            <label for="password_id1">Повторите пароль
            </label>&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;
            <input class="input-text" type="password" name="password" id="password_id1"
                   onchange="check(['password_id','password_id1', 'email_id']);">
        </div>
                    <button id="login-submit" class="button-submit" type="submit"  onclick="check_email()">Зарегистрироваться</button>

        <div style="display: flex; width: 35vw; font-size: 14pt; justify-content: space-between; margin-top: 15px;">
            <a href="/sign_in">Уже есть аккаунт? Войдите!</a>
            <a href="/forgot">Забыли пароль?</a>
        </div>
    </div>


</div>
<div id='alertn' class="alert-notify" onclick="alertn_close();">
    <div id="alertn-text">hello</div>
</div>
{% endblock %}