html{
    height: 95%;
}
body, #editor, #editor > div{
    height: 100%;
}
#editor{

}

#canvas{

}

#editor > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#editor > div > canvas, #editor > div > div{
    display: block;
    margin: 0px;
    padding: 0px;
}

.abs{
    width: 100%;


}